<ion-view view-title="Noticias">
    <ion-content>
        <!--El atributo lazy-scroll es una directiva para el scroll infinito-->

        <ion-list ng-cloak  >
            <!--Al hacer click sobre un post,se establece como activo en la factoría para ser cargado-->
            <ion-item ng-repeat="post in posts" ng-click="setPostActivo(post)" href="#/app/post/{{post.id}}">

                <div class="list card"  >

                    <div ng-if="post.url_featured_media != ''" class="item item-avatar">
                        <img src="{{post.url_featured_media_thumbnail}}">
                        <h2>{{post.title.rendered}}</h2>
                        <p>{{post.date}}</p>
                    </div>                  

                    <div ng-if="post.url_featured_media == ''" class="item">
                        <h2>{{post.title.rendered}}</h2>
                        <p></p>
                    </div>

                    <div class="item item-body" >
                        <div ng-bind-html="post.excerpt.rendered"></div>
                        <p>Fecha <span ng-bind="post.date | date:'dd/MM/yyyy'"></span></p>
                    </div>

                </div>

            </ion-item>
         </ion-list>

        <!-- usamos la propiedad del scope endOfPosts para mostrar u ocultar el scroll infinito-->
        <ion-infinite-scroll ng-if="!endOfPosts" on-infinite="morePosts({{currentPage}})" distance="5%">
        </ion-infinite-scroll>



    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-if="endOfPosts">
        <div class="title">no hay mas noticias</div>
    </div>
</ion-view>
